<%- include('partials/header'); -%>

  <ul class="kinds">
    <li>
      <img src="/expresso.png" alt="">
      <h4>Espresso</h4>
    </li>
    <li>
      <img src="/coffee.jpg" alt="">
      <h4>Americano</h4>

    </li>
    <li>
      <img src="/latte.png" alt="">
      <h4>Latte</h4>

    </li>
    <li>
      <img src="/cap.png" alt="">
      <h4>Cappuccino</h4>

    </li>

  </ul>

  <%- include('partials/footer'); -%>