<%- include('partials/header') -%>

  <header class="home">
    <div>
      <img src="/coffee.jpg" alt="">
    </div>

    <div class="view">
      <a href="/coffee"> View Recipes</a>
    </div>

  </header>

  <%- include('partials/footer') -%>