<%- include('partials/header') -%>

  <header>
    <div>
      <img src="/coffee.jpg" alt="">
    </div>
    <div>
      <h2>Coffee</h2>
      <h3>By JWT Coffee</h3>
      <a href="/coffee"> View Recipes</a>
    </div>

  </header>

  <%- include('partials/footer') -%>